<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dotsrc mirror status</title>
<style>
body,html {
    background: #fff;
    font-family: "Bitstream Vera Sans","Lucida Grande","Lucida Sans Unicode",Lucidux,Verdana,Lucida,sans-serif;
}

tr:nth-child(even) {
    background: #f4f4f4;
}
th,td {
    padding: 0.1em 0.5em;
}
th {
    text-align: left;
    font-weight: bold;
    background: #eee;
    border-bottom: 1px solid #aaa;
}

.stat-good {
    color: green;
}
.stat-failed {
    color: red;
}
.stat-partial {
    color: orange;
}
.ood {
    font-weight: bold;
}

table {
    border: 1px solid #aaa;
}

#page {
    margin: 0px auto;
    max-width: 60em;
}

</style>
    </head>

    <body>
        <div id="page">
            <div id="description">
                <h2>Dotsrc mirror status</h2>
                <p>Generated {{ now }} UTC time.</p>
                <p>
                    Mirrors with status "<span class="stat-partial">partial</span>" is when sync has been completed with errors (often from tmp files or dirs which we do not have permission to read on the source).
                    Mirrors with a <span class="ood">bold</span> status are deemed out of date by us (thresholds for this range for each mirror).
                </p>
            </div>
            <table>
                <tr>
                    <th>Mirror</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Last attempted sync</th>
                    <th>Last completed sync</th>
                </tr>
                {% for mirror in mirrors %}
                <tr>
                    <td>{{ mirror.name }}</td>
                    <td>{{mirror.source}}</td>
                    <td class="{{mirror.ood_tag()}} stat-{{mirror.status.name.lower()}}">
                        {{mirror.status.name.lower()}}
                    </td>
                    <td>{{prdate(mirror.last)}}</td>
                    <td>{{prdate(mirror.last_completed)}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>

